@model IEnumerable<Code_KhoaLa.Models.TheThuVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaThe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayHetHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaThe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayHetHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= item.MaThe }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaThe }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaThe })
        </td>
    </tr>
}

</table>
