@model IEnumerable<DoAn1_QuanLyThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTacGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NXB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamXuatBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NXB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSach }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSach }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSach })
        </td>
    </tr>
}

</table>
