@model IEnumerable<DoAn1_QLTV_User_.Models.DKyMuonSach>

@{
    ViewBag.Title = "Register_RentBook";
    Layout = "~/Areas/User/Views/Shared/_LayoutLoginSuccess.cshtml";
}

<h2>Register_RentBook</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDangKyMuonSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaThe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaDangKyMuonSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaThe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaSach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
