@model IEnumerable<DoAn1_QLTV_User_.Models.Sach>

@{
    ViewBag.Title = "sach";
    Layout = "~/Areas/User/Views/Shared/_LayoutLoginSuccess.cshtml";
}

<h2>sach</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoKiemSoat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDauSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTinhTrangSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoKiemSoat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DauSach.TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTinhTrangSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
